.MentorsTop{
    background-color: aqua;
    grid-column: span 3;
    display: flex;
    flex-direction:column;
    gap: 15px;
    padding: 1rem;
    background-color: lightblue;
    border-radius: 1rem;
}