.PopularCategories {
        display: flex;
        flex-direction:column;
        gap: 15px;
        padding: 1rem;
        background-color: lightblue;
        border-radius: 1rem;
}

.CategoriesTab {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

}
.CategoriesInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.title {
    font-weight: bold;
    font-size: 22px;
}

.text {
    font-size: 15px
}